<div class="padding-global">
            <div class="container-large">
              <div class="white-container"></div>
            </div>
          </div> {% schema %} {
    "tag": "div",
    "name": "Apps",
    "class": "section",
    "presets": [
        {
            "name": "Apps",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "templates": [
            "*"
        ]
    }
} {% endschema %}