{% paginate blog.articles by 50 %}
    <div li-paginate:by="50" li-paginate="blog.articles" class="padding-global padding-section-small" by="50">
          <div class="container-large">
            <div class="blog_cms-wrapper w-dyn-list">
              {% if blog.articles != blank %}    <div li-if="blog.articles != blank" role="list" class="blog_list w-dyn-items">
    
                {% for article in blog.articles %}    <div li-for="article in blog.articles" role="listitem" class="blog_cms-item w-dyn-item">
                                    
                  
                            <a li-object:href="article.url" data-w-id="c45bff24-6242-fee4-5061-f2f14b06a7bd" href="{{ article.url }}" class="blog-card w-inline-block">
                    <div class="blog-image"><img li-object:src="article.image | image_url: width: 450" li-object:alt="article.image.alt" alt="{{ article.image.alt }}" src="{{ article.image | image_url: width: 450 }}" loading="lazy" class="image-cover">
                      <div class="blog-badge">
                        <div>#lionsmane</div>
                      </div>
                    </div>
                    <div class="wrap-v-x-small">
                      <h5 li-object="article.title" class="blog-heading">{{ article.title }}</h5>
                    </div>
                    <div class="blog-detail">
                      <div class="button-link">
                        <div>Read more</div>
                        <div class="btn-icon-circle-2">
                          <div class="btn-icon-wrapper">
                            <div class="btn-icon-arrow hover w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                              </svg></div>
                            <div class="btn-icon-arrow w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                              </svg></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                            
                
                        </div>
{% endfor %}
                  </div>
{% endif %}
              {% if blog.articles == blank %}    <div li-if="blog.articles == blank" class="blog_cms-empty w-dyn-empty">
    
                <div>No blog items found.</div>
                  </div>
{% endif %}
            </div>
          </div>
        </div>{% endpaginate %} {% schema %} {
    "tag": "section",
    "name": "Blog-Articles",
    "class": "section_blog-list",
    "presets": [
        {
            "name": "Blog-Articles",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "templates": [
            "blog"
        ]
    }
} {% endschema %}