<div class="padding-global">
          <div class="container-large">
            <div class="padding-section-medium">
              <div class="pricing-content_layout">
                <div class="margin-bottom is-relative margin-large">
                  <div class="text-align-center">
                    <div class="max-width-full">
                      <div class="margin-bottom margin-small">
                        <h2 class="heading-style-h2-7 is-subhead">Have Questions?</h2>
                      </div>
                      <p class="heading-style-h1-4 is-largetext is-v2">Contact<span class="outline-text-3"> Us</span></p>
                    </div>
                  </div>
                </div>
                <div bind="c49ec22c-1e69-58ea-4272-a34347ac2dcb" class="grid-1-column">
                  <a id="w-node-a0174e98-452a-34a7-4429-af65d87184a7-f0003a3b" href="mailto:info@lionsmane.co.uk" class="contact-link-light w-inline-block">
                    <div class="contact-icon_wrap"><img loading="eager" src="{{ 'email-card-icon-sleek-webflow-ecommerce-template.svg' | asset_url }}" alt="" class="max-w-48px-mbp"></div>
                    <div>
                      <div class="heading-h4-size mg-bottom-4px">Send us an email</div>
                      <div class="flex align-center">
                        <div class="text-300 medium text-color-gold">info@lionsmane.co.uk</div><img loading="lazy" src="https://uploads-ssl.webflow.com/667b7f7e013ec592c6d74f67/667b7f7e013ec592c6d74fd3_button2-arrow.svg" alt="" class="line-rounded-icon">
                      </div>
                    </div>
                  </a>
                  <a id="w-node-a0174e98-452a-34a7-4429-af65d87184b1-f0003a3b" href="#" class="contact-link-light w-inline-block">
                    <div class="contact-icon_wrap">
                      <div bind="c49ec22c-1e69-58ea-4272-a34347ac2dd8" class="icon-embed-large w-embed"><svg width="100%" height="100%" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M16 3H8C5.23858 3 3 5.23858 3 8V16C3 18.7614 5.23858 21 8 21H16C18.7614 21 21 18.7614 21 16V8C21 5.23858 18.7614 3 16 3ZM19.25 16C19.2445 17.7926 17.7926 19.2445 16 19.25H8C6.20735 19.2445 4.75549 17.7926 4.75 16V8C4.75549 6.20735 6.20735 4.75549 8 4.75H16C17.7926 4.75549 19.2445 6.20735 19.25 8V16ZM16.75 8.25C17.3023 8.25 17.75 7.80228 17.75 7.25C17.75 6.69772 17.3023 6.25 16.75 6.25C16.1977 6.25 15.75 6.69772 15.75 7.25C15.75 7.80228 16.1977 8.25 16.75 8.25ZM12 7.5C9.51472 7.5 7.5 9.51472 7.5 12C7.5 14.4853 9.51472 16.5 12 16.5C14.4853 16.5 16.5 14.4853 16.5 12C16.5027 10.8057 16.0294 9.65957 15.1849 8.81508C14.3404 7.97059 13.1943 7.49734 12 7.5ZM9.25 12C9.25 13.5188 10.4812 14.75 12 14.75C13.5188 14.75 14.75 13.5188 14.75 12C14.75 10.4812 13.5188 9.25 12 9.25C10.4812 9.25 9.25 10.4812 9.25 12Z" fill="CurrentColor"></path>
                        </svg></div>
                    </div>
                    <div>
                      <div class="heading-h4-size mg-bottom-4px">DM us on Insta</div>
                      <div class="flex align-center">
                        <div class="text-300 medium text-color-gold">@lionsmaneUKoffical</div><img loading="lazy" src="https://uploads-ssl.webflow.com/667b7f7e013ec592c6d74f67/667b7f7e013ec592c6d74fd3_button2-arrow.svg" alt="" class="line-rounded-icon">
                      </div>
                    </div>
                  </a>
                </div>
                <div class="_2rem-spacer"></div>
                <div id="w-node-a0174e98-452a-34a7-4429-af65d87184bc-f0003a3b" class="card form w-form">
                  {% form 'contact', class: 'width-100' %}
<div class="w-layout-grid grid-2-columns form">
                      <div><label for="Name" class="text-302">First Name</label><input class="input light w-input" maxlength="256" name="wholesale[first_name]" data-name="Name" placeholder="Dwayne" type="text" id="Name" required=""></div>
                      <div><label for="Name" class="text-302">Last Name</label><input class="input light w-input" maxlength="256" name="wholesale[last_name]" data-name="Name" placeholder="Johnson" type="text" id="Name" required=""></div>
                      <div><label for="Email" class="text-302">Email</label><input class="input light w-input" maxlength="256" name="wholesale[email]" data-name="Email" placeholder="example@email.com" type="email" id="Email" required=""></div>
                      <div><label for="Email" class="text-302">Order number (optional)</label><input class="input light w-input" maxlength="256" name="wholesale[order_number]" data-name="Email" placeholder="example@email.com" type="email" id="Email" required=""></div>
                      <div id="w-node-a0174e98-452a-34a7-4429-af65d87184cf-f0003a3b"><label for="Message" class="text-302">Message</label><textarea class="text-area light w-input" maxlength="5000" name="wholesale[body]" data-name="Message" placeholder="Please type your message here..." id="Message"></textarea></div><input type="submit" data-wait="Please wait..." id="w-node-a0174e98-452a-34a7-4429-af65d87184d3-f0003a3b" class="btn-primary w-button" value="Send Message">
                    </div>
                  {% endform %}
                  <div class="success-message-3 w-form-done">
                    <div class="div-block-199"><img loading="lazy" src="{{ 'checkbox-circle-line.svg' | asset_url }}" alt="" class="icon-embed-xlarge">
                      <h2 class="heading-style-h2-7 is-subhead">Thank you!</h2>
                      <div>Thanks for reaching out. We will get back to you soon.</div>
                    </div>
                  </div>
                  <div class="error-message-2 width-100 w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pricing-bg-element_wrap">
          <div class="price-bg-element is-top-left-wrap"><img loading="lazy" src="https://uploads-ssl.webflow.com/66762a278b3e636bb85f4c56/66762a278b3e636bb85f4c77_Header%20asset%20(blurred).png" alt="" class="price-bg-element is-top-left"></div>
          <div class="price-bg-element is-bottom-left-wrap"><img loading="lazy" src="https://uploads-ssl.webflow.com/66762a278b3e636bb85f4c56/66762a278b3e636bb85f4c77_Header%20asset%20(blurred).png" alt="" class="price-bg-element is-bottom-left"></div>
          <div class="price-bg-element is-top-right-wrap"><img loading="lazy" src="https://uploads-ssl.webflow.com/66762a278b3e636bb85f4c56/66762a278b3e636bb85f4c77_Header%20asset%20(blurred).png" alt="" class="price-bg-element is-top-right"></div>
          <div class="price-bg-element is-middle-right-wrap"><img loading="lazy" src="https://uploads-ssl.webflow.com/66762a278b3e636bb85f4c56/66762a278b3e636bb85f4c77_Header%20asset%20(blurred).png" alt="" class="price-bg-element is-middle-right"></div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Wholesale Form",
    "class": "section-contact",
    "presets": [
        {
            "name": "Wholesale Form",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}